.about-page {
  height: 260vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Spicy Rice';
  z-index: 0;
}

.bg-blob {
  position: absolute;
  top: 2vh;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: var(--brick);
  height: 241vh;
  width: 95vw;
  z-index: 0;
  border-radius: 20px;
  /* border-top-right-radius: 100%;
  border-top-left-radius: 100%; */
}

.our-mission-container {
  margin-top: 6vh;
  width: 50%;
  border: solid;
  border-style: double;
  border-width: 7px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 35px;
}

.our-mission-container h3 {
  font-family: 'Abhaya Libre', serif;
  font-size: 3.5vh;
  text-align: center;
  color: black;
}

.every-body-bold {
  font-size: 5vh;
  font-weight: bolder;
}

.love-respect-care {
  font-size: 7vh;
  font-family: 'Spicy Rice';
}

.about-page h2 {
  font-size: 5vh;
  margin-top: 4vh;
}

.about-page-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  height: 50vh;
  margin-bottom: 5vh;

}

.our-story-container {
  color: black;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abhaya Libre', serif;
  text-align: left;

}
.our-story-container p {
  margin-top: 0;
  margin-bottom: 0;

}

.about-us-pic-container {
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.about-us-pic {
  /* border-top-right-radius: 100%;
  border-top-left-radius: 100%; */
  height: 100%;
  width: 90%;
  background-image: url('https://i.imgur.com/6pOIVQ7.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.about-page .nav {
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

@media only screen and (max-width: 1050px) {
  .about-page {
    height: 420vh;
  }
  .our-mission-container h3 {
    font-size: 4vh;
  }
  .our-mission-container {
    margin-bottom: 0;
    width: 75vw;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
  }
  .every-body-bold {
    font-size: 3.8vh;
  }
  .love-respect-care {
    font-size: 5vh;
  }

  .about-page h2 {
    font-size: 4.5vh;
    margin-top: 2vh;
    margin-bottom: 0;
    line-height: 4vh;
  }
  .about-page-main {
    width: 100vw;
    height: 150vh;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
  }

  .our-story-container {
    font-size: 3.3vh;
    width: 70vw;
    height: 75vh;
  }

  .about-us-pic-container {
    align-items: center;
    margin-bottom: 2vh;
    height: 65vh;
    margin-top: 0;
  }
  .about-us-pic {
    width: 75vw;
    height: 100%;
  }

}

@media only screen and (max-width: 480px) {
  .about-page {
    height: 340vh;
  }
  .our-mission-container h3 {
    font-size: 2.2vh;
  }

  .our-mission-container {
    margin-bottom: 0;
    margin-top: 4vh;
    width: 85vw;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .every-body-bold {
    font-size: 3.2vh;
  }

  .love-respect-care {
    font-size: 3.5vh;
  }

  .about-page h2 {
    font-size: 4vh;
  }

  .about-page-main {
    width: 100vw;
    height: 80vh;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
  }
  .our-story-container {
    font-size: 14px;
    width: 70vw;
    height: 50vh;
  }

  .about-us-pic-container {
    align-items: center;
    margin-bottom: 2vh;
    height: 35vh;
    margin-top: 0;
  }
  .about-us-pic {
    width: 75vw;
  }

  .our-story-container {
    font-size: 14px;
    width: 70vw;
    height: 50vh;
  }

  .about-us-pic-container {
    align-items: center;
    margin-bottom: 2vh;
    height: 35vh;
    margin-top: 0;
  }
  .about-us-pic {
    width: 75vw;
  }
  .fixed-links-container {
    right: 5vw;
    z-index: 0;

  }
  .fixed-links-container a {
    font-size: 3.5vh;
  }
  .about-page .nav {
    z-index: 3;
  }

}



  