/* 
litepink -> rgb(255, 214, 226)
medpink -> rgb(255, 207, 233)
darkpink -> rgb(235, 168, 221) 
litepurple -> rgb(175, 154, 197)
medpurple -> rgb(173, 144, 198)
darkpurple -> rgb(93, 75, 125)
brick -> rgb(158, 60, 50)
brown -> rgb(191, 120, 56)
yellowbrown -> rgb(207, 133, 34)
*/

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

.about-page {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  .leftbox, .rightbox {
    width: 50vw;
    height: 100vh;
    z-index: -1;
  }
  .leftbox {
    background-color: rgb(158, 60, 50);
  }
  .rightbox {
    /* background-image: url("https://i.imgur.com/JdIwlAK.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: antiquewhite;
  }
  .frame {
    height: 93vh;
    width: 97vw;
    border: solid;
    border-width: .6vh;
    border-color: rgb(207, 133, 34);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  