.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    padding: 0;
}
.left-nav, .right-nav {
    font-family: 'Spicy Rice';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 35vw;
    height: 8vh;
}
.left-nav a, .right-nav a {
    text-decoration: none;
    color: var(--brick);
    font-size: 5vh;
}
.left-nav a:hover, .right-nav a:hover {
    color: var(--darkPink);
}
.left-nav {
    left: 0
}
.right-nav {
    right: 0;
}

.home-page h1 {
    font-family: 'Spicy Rice', cursive;
    font-size: 22vh;
    color: var(--darkPink);
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
    align-self: flex-end;
    position: absolute;
    bottom: 5vh;
}
.drawing {
    height: 98vh;
    width: 85vw;
    z-index: 1;
    background-image: url("https://i.imgur.com/x3K0ZcT.png");
    background-position: center;
    background-size: cover;
}
.blob {
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 55vw;
    background-color: var(--brown);
    top: 0;
    margin: auto;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    /* border: solid;
    border-color: var(--brick);
    border-width: 6px;
    border-style: double; */
}
.insta-icon {
    font-size: 6vh;
    color: var(--brick);
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}
.insta-icon:hover {
    color: var(--darkPink);
}
.furthermore {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.furthermore .lorem-ipsum {
    /* border: solid;
    border-width: 8px;
    border-color: var(--darkPurple); */
    background-color: var(--litePurple);
    color: var(--brick);
    width: 70vw;
    border-style: double;
    font-family: 'Spicy Rice';
    font-size: 2.5vh;
    padding: 2vh;
}