.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.home-tagline {
    font-family: 'Abhaya Libre', serif;
    position: absolute;
    right: 4vw;
    top: 2vh;
    width: 10vw;
    text-align: right;
    font-weight: bold;
    font-size: 23px;

}

.home-page h1 {
    font-family: 'Spicy Rice', cursive;
    font-size: 10vw;
    color: var(--darkPink);
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    align-self: flex-end;
    position: absolute;
    bottom: 5vh;
}
.drawing {
    height: 95vh;
    width: 80vw;
    z-index: 1;
    background-image: url("https://i.imgur.com/x3K0ZcT.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.blob {
    background-color: var(--brown);
    height: 98vh;
    width: 97%;
    margin: 0 auto;

}

@media only screen and (min-width: 768px) {
    .home-tagline {
        width: 10vw;
    }

    .home-page h1 {
        font-size: 23vh;
    }

    .drawing {
        height: 98vh;
    }

    .blob {
        height: 95vh;
    }
}
