/* 
litepink -> rgb(255, 214, 226)
medpink -> rgb(255, 207, 233)
darkpink -> rgb(235, 168, 221) 
litepurple -> rgb(175, 154, 197)
medpurple -> rgb(173, 144, 198)
darkpurple -> rgb(93, 75, 125)
brick -> rgb(158, 60, 50)
brown -> rgb(191, 120, 56)
yellowbrown -> rgb(207, 133, 34)
*/

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* Components */
/* RegButton */
.reg-button {
  height: 6vh;
  width: 20vw;
  background-color: rgb(255, 207, 233);
  border: solid;
  border-color: rgb(93, 75, 125);
  border-radius: 23%;
  font-family: 'Aleygreya', serif;
  font-size: 2.1vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 45vh;
  margin: auto;
  left: 0;
  right: 0;
}
.reg-button a {
  text-decoration: none;
}
.reg-button:hover {
  border-style: double;
}

/* Flower Frame */
/* .flower-frame {
  background-image: url("https://i.imgur.com/fhEYK7n.png");
  height: 28vh;
  width: 20vw;
  background-position: center;
  background-size: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  overflow: hidden;
} */

